{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h1 class="text-center my-3">{% trans "Change Password" %}</h1>
    
    {% for field in form %}
    {% for error in field.errors %}
    <p class="mb-0 mt-0" style="background-color: rgba(255, 8, 8, 0.596); margin-bottom: 4vw; border-radius: 0.5vw; margin-left: 2vw;margin-right: 2vw;padding:2vw 2vw;"><b>* </b>{{ error|escape }}</p> <br>
    {% endfor %}
    {% endfor %}

    {% for error in form.non_fields_errors %}
    <p class="mb-0 mt-0" style="background-color: rgba(255, 8, 8, 0.596); margin-bottom: 4vw; border-radius: 0.5vw; margin-left: 2vw;margin-right: 2vw;padding:2vw 2vw;"><b>* </b>{{ error|escape }}</p> <br>
    {% endfor %}

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    <div class="row mb-3 mx-5">
        <label for="id_oldpassword" class="col-sm-2 col-form-label">Current Password: </label>
        <div class="col-sm-10">
            <input type="password" name="oldpassword" placeholder="Current Password" autocomplete="current-password" required="" id="id_oldpassword" class="form-control">
        </div>
    </div>
    <div class="row mb-3 mx-5">
        <label for="id_password1" class="col-sm-2 col-form-label">New Password: </label>
        <div class="col-sm-10">
            <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" required="" id="id_password1"class="form-control" minlength="8">
        </div>
    </div>
    <div class="row mb-3 mx-5">
        <label for="id_password2" class="col-sm-2 col-form-label">New Password (again): </label>
        <div class="col-sm-10">
            <input type="password" name="password2" placeholder="New Password (again)" required="" id="id_password2" class="form-control" minlength="8">
        </div>
    </div>
    <button type="submit" name="action" class="mx-5 btn btn-outline-success mt-3 mb-4">{% trans "Change Password" %}</button>
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>
{% endblock %}