{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1 class="text-center">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="text-center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    {% for field in form %}
    {% for error in field.errors %}
    <p class="mb-0 mt-0" style="background-color: rgba(255, 8, 8, 0.596); margin-bottom: 4vw; border-radius: 0.5vw; margin-left: 2vw;margin-right: 2vw;padding:2vw 2vw;"><b>* </b>{{ error|escape }}</p> <br>
    {% endfor %}
    {% endfor %}

    {% for error in form.non_fields_errors %}
    <p class="mb-0 mt-0" style="background-color: rgba(255, 8, 8, 0.596); margin-bottom: 4vw; border-radius: 0.5vw; margin-left: 2vw;margin-right: 2vw;padding:2vw 2vw;"><b>* </b>{{ error|escape }}</p> <br>
    {% endfor %}
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="row mb-3 mx-5">
        <label for="id_email" class="col-sm-2 col-form-label">E-mail address: </label>
        <div class="col-sm-10">
            <input type="email" name="email" placeholder="E-mail address" autocomplete="email" required="" id="id_email" class="form-control">
        </div>
    </div>
        <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-outline-success ms-5"/>
    </form>

    <h3 class="my-4 ms-4"><b>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</b> <a href="{% url 'contact_main' %}">{% blocktrans %}Contact us{% endblocktrans %}</a></h3>
{% endblock %}
