{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<h1>{% trans "Set Password" %}</h1>
{% for field in form %}
{% for error in field.errors %}
<p class="mb-0 mt-0"
    style="background-color: rgba(255, 8, 8, 0.596); margin-bottom: 4vw; border-radius: 0.5vw; margin-left: 2vw;margin-right: 2vw;padding:2vw 2vw;">
    <b>* </b>{{ error|escape }}</p> <br>
{% endfor %}
{% endfor %}

{% for error in form.non_fields_errors %}
<p class="mb-0 mt-0"
    style="background-color: rgba(255, 8, 8, 0.596); margin-bottom: 4vw; border-radius: 0.5vw; margin-left: 2vw;margin-right: 2vw;padding:2vw 2vw;">
    <b>* </b>{{ error|escape }}</p> <br>
{% endfor %}
<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    {% csrf_token %}
    <div class="row mb-3 mx-5">
        <label for="id_password1" class="col-sm-2 col-form-label">Password: </label>
        <div class="col-sm-10">
            <input type="password" name="password1" placeholder="Password" autocomplete="new-password" required="" id="id_password1" class="form-control">
        </div>
    </div>
    <div class="row mb-3 mx-5">
        <label for="id_password2" class="col-sm-2 col-form-label">Password (again): </label>
        <div class="col-sm-10">
            <input type="password" name="password2" placeholder="Password (again)" required="" id="id_password2" class="form-control">
        </div>
    </div>
    <input type="submit" name="action" value="{% trans 'Set Password' %}" class="btn btn-outline-success py-1 mx-5"/>
</form>
{% endblock %}